body{
  text-align: center;
}

.banner{
  background-image: url('./images/NYC.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.logo{
  width: 80px;
  height: 80px;
  margin:3px
}

.logo-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

#stack{
  height: 100%;
}

.stack-container{
  border: 1px solid rgb(53,58,63);
  width: 30%;
  margin: 5px;
}

.stack-page{
  display: flex;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.about>div{
  max-width: 50%;
  font-size: larger;
}

.headshot{
  background-image: url('./images/joe.jpeg');;
  width: 400px;
  height: 400px;
  background-size: cover;
  border-radius: 50%;
  border-color: rgb(53,58,63);
  border: 10px solid;
}

.stack-container>h5{
  background-color: rgb(53,58,63);
  color: white;
  padding: .5rem;
}

i{
  height: 1rem;
}

.contact{
  display: flex;
  justify-content: space-between;
}
.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

.icon:hover { 
  color:lightgray !important;
}

.contact>a{
  color: rgb(53,58,63);
}

#projects{
  margin-bottom: 50px;
}

.pr-dark{
  background-color: rgb(53,58,63);
  color: white;
}

.pr{
  padding:50px
}

.pr>div{
  text-align: left;
  width: 60%;
}

.pr-dark>.pr-inner{
  margin-left: auto;
}
